@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='color'] {
	-webkit-appearance: none;
	border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border: none;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: blue none;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #00000020;
}
